body {
  color: #202124;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #9aa0a6;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #9aa0a6;
  font-size: 16px;
  line-height: 16px;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 660px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #2e3134;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -24px;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}
